validator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="CampagnieAssurance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name='Clients' type="ClientsType" minOccurs="0"/>
                <xs:element name='Risques' type="RisquesType" minOccurs="1"/>
                <xs:element name='Employees' type="EmployeesType" minOccurs="0"/>
                <xs:element name='Contrats' type="ContratsType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:key name="contratKey">
            <xs:selector xpath="Contrats/Contrat"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="clientAvecContrat" refer="contratKey">
            <xs:selector xpath="Clients/Client/ContratsAssocies/ContratClient"/>
            <xs:field xpath="@idContrat"/>
        </xs:keyref>

        <xs:key name="conseillerKey">
            <xs:selector xpath="CampagnieAssurance/Employees/Conseillers/Conseiller"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="clientAvecConseiller" refer="conseillerKey">
            <xs:selector xpath="CampagnieAssurance/Clients/Client/ContratsAssocies/ContratClient"/>
            <xs:field xpath="@idConseiller"/>
        </xs:keyref>

    </xs:element>

    <xs:complexType name="ClientsType">
        <xs:sequence>
            <xs:element name="Client" type="ClientType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClientType">
        <xs:sequence>
            <xs:element nillable="true" name='ConseillerAssocie' type="ConseillerAssocieType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Nom' type="xs:string"/>
            <xs:element name='Prenom' type="xs:string"/>
            <xs:element name='DateDeNaissance' type="xs:date"/>
            <xs:element name='AdressePostal' type="AdressePostalType"/>
            <xs:element name='Tel' type="TelType"/>
            <xs:element name='DonnesBancaire' type="DonnesBancaireType" minOccurs="0"/> <!-- payment par chèque ou espèce-->
            <xs:element name='Email' type="EmailType" minOccurs="0"/><!-- il doit obligatoirement avoir un numéro de téléphone du coup il lui est facultatif d'avoir un email -->
            <xs:element name='ContratsAssocies' type="ContratsAssociesType"/>
        </xs:sequence>
        <xs:attribute name='id' type='xs:integer'/>
    </xs:complexType>

    <xs:complexType name="AdressePostalType">
        <xs:sequence>
            <xs:element name='Adresse' type="AdresseType"/>
            <xs:element name='CodePostal' type="CodePostalType"/>
            <xs:element name='Ville' type="xs:string"/>
            <xs:element name='Pays' type="xs:string"/>
        </xs:sequence>

    </xs:complexType>

    <xs:simpleType name="TelType">
        <xs:restriction base='xs:string'>
            <xs:pattern value='[0-9][0-9](.[0-9][0-9])+'/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DonnesBancaireType">
        <xs:sequence>
            <xs:element name='NomDeBanque' type="xs:string" />
            <xs:element name='RIB' type="RIBType"/>
            <xs:element name='Pays' type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9]+.[a-z0-9]+@[a-z.-]+.[a-z]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name='CodePostalType'>
        <xs:restriction base='xs:string'>
            <xs:pattern value='[0-9]{5}(-[0-9]{4})?'/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AdresseType">
        <xs:sequence>
            <xs:element name='NumeroDeRue' type="xs:integer"/>
            <xs:element name='NomDeRue' type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RIBType">
        <xs:restriction base='xs:string'>
            <xs:pattern value="[A-Z][A-Z][0-9][0-9](-[0-9][0-9][0-9][0-9])+-[0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="AutoType">
        <xs:sequence>
            <xs:element name='Marque' type="xs:string" /> <!-- Une voiture est issue d'une seule marque-->
            <xs:element name='NumImmarticulation' type="NumImmarticulationType"/> <!-- Num imm est unique-->
            <xs:element name='HautGamme' type="HautGammeType" minOccurs="0"/>
            <xs:element name='BonusMalus' type="BonusMalusType"/>
            <xs:element name='DatesSinistres' type="DatesSinistresType" minOccurs="0"/>
            <xs:element name='Depistages' type="DepistagesType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name='date_permis' type='xs:date'/>
        <xs:attribute name='date_permis_conjoint' type='xs:date'/>
        <xs:attribute name='date_mise_en_circu' type='xs:date'/>

    </xs:complexType>


    <xs:simpleType name="NumImmarticulationType">
        <xs:restriction base='xs:string'>
            <xs:pattern value="[A-Z][A-Z]-[0-9][0-9][0-9]-[A-Z][A-Z]"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="MotoType">
        <xs:sequence>
            <xs:element name='Marque' type="xs:string" maxOccurs="1" minOccurs="1"/> <!-- Un motp est issue d'une seule marque-->
            <xs:element name='NumImmarticulation' type="NumImmarticulationType" maxOccurs="1" minOccurs="1"/> <!-- Num imm est unique-->
            <xs:element name='BonusMalus' type="BonusMalusType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DatesSinistres' type="DatesSinistresType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Depistages' type="DepistagesType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name='date_permis' type='xs:date'/>
        <xs:attribute name='date_mise_en_circu' type='xs:date'/>
    </xs:complexType>


    <xs:complexType name="HabitationType">
        <xs:sequence>
            <xs:element name='AdressePostal' type="AdressePostalType" maxOccurs="1" minOccurs="1"/> <!-- Un motp est issue d'une seule marque-->
            <xs:element name='SurfaceHabitation' type="xs:float" maxOccurs="1" minOccurs="1"/> <!-- Un motp est issue d'une seule marque-->
            <xs:element name='Dependences' type="DependencesType" maxOccurs="1" minOccurs="1"/> <!-- Num imm est unique-->
            <xs:element name='EstimationValeur' type="xs:integer" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EmpruntType">
        <xs:sequence>
            <xs:element name='Montant' type="xs:integer" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Type' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Duree' type="DureeType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="DureeType">
        <xs:sequence>
            <xs:element name='DateDebut' type="xs:date" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DateFin' type="xs:date" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="HautGammeType">
        <xs:sequence>
            <xs:element name='Prix' type="xs:integer" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>


    <xs:complexType name="BonusMalusType">
        <xs:sequence>
            <xs:element name='Valeur' type="xs:integer" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>



    <xs:complexType name="DepistageType">
        <xs:sequence>
            <xs:element name='Resultat' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='date' type='xs:date'/>

    </xs:complexType>

    <xs:complexType name="DatesSinistresType">
        <xs:sequence>
            <xs:element name='datesinistre' type="xs:date" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DepistagesType">
        <xs:sequence>
            <xs:element name='Depistage' type="DepistageType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DependencesType">
        <xs:sequence>
            <xs:element name='Dependence' type="DependenceType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DependenceType">
        <xs:sequence>
            <xs:element name='Libele' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Surface' type="xs:float" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="RisquesType">
        <xs:sequence>
            <xs:element name="Risque" type="RisqueType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="EmployeesType">
        <xs:sequence>
            <xs:element name='Conseillers' type="ConseillersType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ConseillersType">
        <xs:sequence>
            <xs:element name='Conseiller' type="ConseillerType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ConseillerType">
        <xs:sequence>
            <xs:element name='Nom' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Prenom' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

        <xs:attribute name='id' type='xs:integer'/>
    </xs:complexType>


    <xs:complexType name="ContratsType">
        <xs:sequence>
            <xs:element name='Contrat' type="ContratType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ContratType">
        <xs:choice>
            <xs:element name='Auto' type="AutoType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Moto' type="MotoType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Habitation' type="HabitationType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Emprunt' type="EmpruntType" maxOccurs="1" minOccurs="0"/>
        </xs:choice>

        <xs:attribute name='id' type='xs:integer'/>
    </xs:complexType>


    <xs:complexType name="ContratsAssociesType">
        <xs:sequence>
            <xs:element name='ContratClient' type="ContratClientType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContratClientType">
        <xs:sequence>
            <xs:element name='TypeContrat' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

        <xs:attribute name='idContrat' type='xs:integer'/>
    </xs:complexType>

    <xs:simpleType name="RisqueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CatastrophesNaturelle" />
            <xs:enumeration value="Incendie" />
            <xs:enumeration value="DegatsDesEaux" />
            <xs:enumeration value="Accident" />
            <xs:enumeration value="Vols" />
            <xs:enumeration value="Terrorisme" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ConseillerAssocieType">
        <xs:attribute name='idConseiller' type='xs:integer'/>
    </xs:complexType>
</xs:schema>