validator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="CampagnieAssurance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name='Clients' type="ClientsType" maxOccurs="1" minOccurs="1"/>
                <xs:element name='Risques' type="RisquesType" maxOccurs="1" minOccurs="1"/>
                <xs:element name='Employees' type="EmployeesType" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>

        </xs:complexType>
    </xs:element>

    <xs:complexType name="ClientsType">
        <xs:sequence>
            <xs:element name="Client" type="ClientType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ClientType">
        <xs:sequence>
            <xs:element name='Nom' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Prenom' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DateDeNaissance' type="xs:date" maxOccurs="1" minOccurs="1"/>
            <xs:element name='AdressePostal' type="AdressePostalType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Tel' type="TelType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DonnesBancaire' type="DonnesBancaireType" maxOccurs="1" minOccurs="0"/> <!-- payment par chèque ou espèce-->
            <xs:element name='Email' type="EmailType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Auto' type="AutoType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name='Moto' type="MotoType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name='Habitation' type="HabitationType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name='Emprunts' type="EmpruntsType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name='id' type='xs:integer'/>

    </xs:complexType>

    <xs:complexType name="AdressePostalType">
        <xs:sequence>
            <xs:element name='Adresse' type="AdresseType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='CodePostal' type="CodePostalType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Ville' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Pays' type="xs:string" maxOccurs="1" minOccurs="1"/>

        </xs:sequence>

    </xs:complexType>

    <xs:simpleType name="TelType">
        <xs:restriction base='xs:string'>
            <xs:pattern value='[0-9][0-9](.[0-9][0-9])+'/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DonnesBancaireType">
        <xs:sequence>

            <xs:element name='NomDeBanque' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='RIB' type="RIBType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Pays' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>

    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9]+.[a-z0-9]+@[a-z.-]+.[a-z]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name='CodePostalType'>
        <xs:restriction base='xs:string'>
            <xs:pattern value='[0-9]{5}(-[0-9]{4})?'/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AdresseType">
        <xs:sequence>
            <xs:element name='NumeroDeRue' type="xs:integer" maxOccurs="1" minOccurs="1"/>
            <xs:element name='NomDeRue' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RIBType">
        <xs:restriction base='xs:string'>
            <xs:pattern value="[A-Z][A-Z][0-9][0-9](-[0-9][0-9][0-9][0-9])+-[0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="AutoType">
        <xs:sequence>
            <xs:element name='Marque' type="xs:string" maxOccurs="1" minOccurs="1"/> <!-- Une voiture est issue d'une seule marque-->
            <xs:element name='NumImmarticulation' type="NumImmarticulationType" maxOccurs="1" minOccurs="1"/> <!-- Num imm est unique-->
            <xs:element name='HautGamme' type="HautGammeType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='BonusMalus' type="BonusMalusType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DatesSinistres' type="DatesSinistresType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Depistages' type="DepistagesType" maxOccurs="1" minOccurs="0"/>

        </xs:sequence>

        <xs:attribute name='date_permis' type='xs:date'/>
        <xs:attribute name='date_permis_conjoint' type='xs:date'/>
        <xs:attribute name='date_mise_en_circu' type='xs:date'/>

    </xs:complexType>

    <xs:simpleType name="NumImmarticulationType">
        <xs:restriction base='xs:string'>
            <xs:pattern value="[A-Z][A-Z]-[0-9][0-9][0-9]-[A-Z][A-Z]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MotoType">
        <xs:sequence>
            <xs:element name='Marque' type="xs:string" maxOccurs="1" minOccurs="1"/> <!-- Un motp est issue d'une seule marque-->
            <xs:element name='NumImmarticulation' type="NumImmarticulationType" maxOccurs="1" minOccurs="1"/> <!-- Num imm est unique-->
            <xs:element name='BonusMalus' type="BonusMalusType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DatesSinistres' type="DatesSinistresType" maxOccurs="1" minOccurs="0"/>
            <xs:element name='Depistages' type="DepistagesType" maxOccurs="1" minOccurs="0"/>

        </xs:sequence>

        <xs:attribute name='date_permis' type='xs:date'/>
        <xs:attribute name='date_mise_en_circu' type='xs:date'/>
    </xs:complexType>


    <xs:complexType name="HabitationType">
        <xs:sequence>
            <xs:element name='SurfaceHabitation' type="xs:float" maxOccurs="1" minOccurs="1"/> <!-- Un motp est issue d'une seule marque-->
            <xs:element name='Dependences' type="DependencesType" maxOccurs="1" minOccurs="1"/> <!-- Num imm est unique-->
            <xs:element name='EstimationValeur' type="xs:integer" maxOccurs="1" minOccurs="1"/>

        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="EmpruntsType">
        <xs:sequence>
            <xs:element name='Emprunt' type="EmpruntType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>

    </xs:complexType>


    <xs:complexType name="EmpruntType">
        <xs:sequence>
            <xs:element name='Montant' type="xs:integer" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Type' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Duree' type="DureeType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="DureeType">
        <xs:sequence>
            <xs:element name='DateDebut' type="xs:date" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DateFin' type="xs:date" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="HautGammeType">
        <xs:sequence>
            <xs:element name='Prix' type="xs:integer" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>


    <xs:complexType name="BonusMalusType">
        <xs:sequence>
            <xs:element name='Valeur' type="xs:integer" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>



    <xs:complexType name="DepistageType">
        <xs:sequence>
            <xs:element name='Resultat' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='date' type='xs:date'/>

    </xs:complexType>

    <xs:complexType name="DatesSinistresType">
        <xs:sequence>
            <xs:element name='datesinistre' type="xs:date" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DepistagesType">
        <xs:sequence>
            <xs:element name='Depistage' type="DepistageType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DependencesType">
        <xs:sequence>
            <xs:element name='Dependence' type="DependenceType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name='type' type='xs:boolean'/>
    </xs:complexType>

    <xs:complexType name="DependenceType">
        <xs:sequence>
            <xs:element name='Libele' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Surface' type="xs:float" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>



    <xs:complexType name="RisquesType">
        <xs:sequence>
            <xs:element name='CatastrophesNaturelle' type="CatastrophesNaturelleType" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Incendie' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='DegatsDesEaux' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Accident' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Vols' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Terrorisme' type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CatastrophesNaturelleType">

    </xs:complexType>



    <xs:complexType name="EmployeesType">
        <xs:sequence>
            <xs:element name='Conseillers' type="ConseillersType" maxOccurs="1" minOccurs="1"/>

        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ConseillersType">
        <xs:sequence>
            <xs:element name='Conseiller' type="ConseillerType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>


    <xs:complexType name="ConseillerType">
        <xs:sequence>
            <xs:element name='Nom' type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name='Prenom' type="xs:string" maxOccurs="1" minOccurs="1"/>

        </xs:sequence>
        <xs:attribute name='id' type='xs:integer'/>
    </xs:complexType>


</xs:schema>